<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
		
		<bean name="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
		<tx:advice transaction-manager="transactionManager" id="tm">
		<tx:attributes>
		<tx:method name="add*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"/>
		<tx:method name="find*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"/>
		<tx:method name="delete*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"/>
		<tx:method name="update*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"/>
		</tx:attributes>
		</tx:advice>
		
		<aop:config>
		<aop:pointcut expression="execution(* com.zhiyou100.video.service..*.*(..))" id="pe"/>
		<aop:advisor advice-ref="tm" pointcut-ref="pe"/>
		</aop:config>
</beans>